name: Deploy Photogram

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy application
        run: |
          echo "Deploying application..."

          rm -rf /home/azureuser/htdocs/photogram

          mkdir -p /home/azureuser/htdocs/photogram

          cp -r "$(pwd)"/* /home/azureuser/htdocs/photogram/

          rm -rf /home/azureuser/htdocs/photogram/.git
          rm -rf /home/azureuser/htdocs/photogram/htdocs/.gitignore
          rm -rf /home/azureuser/htdocs/photogram/htdocs/README.md
          rm -rf /home/azureuser/htdocs/photogram/htdocs/.gitattributes
          cp /home/azureuser/photogramconfig.json /home/azureuser/htdocs/photogram/project/

          echo "Application successfully deployed."

