name: Deploy Photogram

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy application
        run: |
          pwd
          echo "Deploying application..."

          rm -rf /home/azureuser/htdocs/photogram
          mkdir -p /home/azureuser/htdocs/photogram

          cp -r "$(pwd)"/* /home/azureuser/htdocs/photogram/

          rm -rf /home/azureuser/htdocs/photogram/.git

          echo "Application successfully deployed."
